<section id="testimonial">

    <div class="container">
      <div class="row">
        <div class="col-lg-5">
          <div class="mb-8 text-start">
            <h5 class="text-secondary">Kundenmeinung </h5>
            <h3 class="fs-xl-10 fs-lg-8 fs-7 fw-bold font-cursive text-capitalize">Was die Leute über uns sagen.</h3>
          </div>
        </div>
        <div class="col-lg-1"></div>
        <div class="col-lg-6">
          <div class="pe-7 ps-5 ps-lg-0">
            <div class="carousel slide carousel-fade position-static" id="testimonialIndicator" data-bs-ride="carousel">
              <div class="carousel-indicators">
                <button class="active" type="button" data-bs-target="#testimonialIndicator" data-bs-slide-to="0" aria-current="true" aria-label="Testimonial 0"></button>
                <button class="false" type="button" data-bs-target="#testimonialIndicator" data-bs-slide-to="1" aria-current="true" aria-label="Testimonial 1"></button>
                <button class="false" type="button" data-bs-target="#testimonialIndicator" data-bs-slide-to="2" aria-current="true" aria-label="Testimonial 2"></button>
              </div>
              <div class="carousel-inner">
                <div class="carousel-item position-relative active">
                  <div class="card shadow" style="border-radius:10px;">
                    <div class="position-absolute start-0 top-0 translate-middle"> <img class="rounded-circle fit-cover" src="../../assets/img/testimonial/heba.jpg" height="65" width="65" alt="" /></div>
                    <div class="card-body p-4">
                      <p class="fw-medium mb-4">&quot;large selection of cheap flights from various low-cost portals. In my opinion, there is nowhere else such a large overview of flights....&quot;</p>
                      <h5 class="text-secondary"></h5>Amir, Sami
                      <p class="fw-medium fs--1 mb-0">Marokko </p>
                    </div>
                  </div>
                  <div class="card shadow-sm position-absolute top-0 z-index--1 mb-3 w-100 h-100" style="border-radius:10px;transform:translate(25px, 25px)"> </div>
                </div>
                <div class="carousel-item position-relative ">
                  <div class="card shadow" style="border-radius:10px;">
                    <div class="position-absolute start-0 top-0 translate-middle"> <img class="rounded-circle fit-cover" src="../../assets/img/testimonial/till.jpg" height="65" width="65" alt="" /></div>
                    <div class="card-body p-4">
                      <p class="fw-medium mb-4">&quot;HEBA gilt als eines der besten Reisbüros der welt. wenn es um de Planung einer Reise ging, fand ich sie zuverlässig.&quot;</p>
                      <h5 class="text-secondary">Till Wagerne</h5>
                      <p class="fw-medium fs--1 mb-0">Spanien</p>
                    </div>
                  </div>
                  <div class="card shadow-sm position-absolute top-0 z-index--1 mb-3 w-100 h-100" style="border-radius:10px;transform:translate(25px, 25px)"> </div>
                </div>
                <div class="carousel-item position-relative ">
                  <div class="card shadow" style="border-radius:10px;">
                    <div class="position-absolute start-0 top-0 translate-middle"> <img class="rounded-circle fit-cover" src="../../assets/img/testimonial/johhna.jpg" height="65" width="65" alt="" /></div>
                    <div class="card-body p-4">
                      <p class="fw-medium mb-4">&quot;Ich reise wirklich sehr viel und benutze ausschließlich HEBA für meine Reisen.Immer die besten Preise und wirklich einfach und übersichtlich👍.

                        .&quot;</p>
                      <h5 class="text-secondary">Johnna, Klein</h5>
                      <p class="fw-medium fs--1 mb-0">Deutschland</p>
                    </div>
                  </div>
                  <div class="card shadow-sm position-absolute top-0 z-index--1 mb-3 w-100 h-100" style="border-radius:10px;transform:translate(25px, 25px)"> </div>
                </div>
              </div>
              <div class="carousel-navigation d-flex flex-column flex-between-center position-absolute end-0 top-lg-50 bottom-0 translate-middle-y z-index-1 me-3 me-lg-0" style="height:60px;width:20px;">
                <button class="carousel-control-prev position-static" type="button" data-bs-target="#testimonialIndicator" data-bs-slide="prev"><img src="../../assets/img/icons/up.svg" width="16" alt="icon" /></button>
                <button class="carousel-control-next position-static" type="button" data-bs-target="#testimonialIndicator" data-bs-slide="next"><img src="../../assets/img/icons/down.svg" width="16" alt="icon" /></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div><!-- end of .container-->

  </section>
  <section class="pt-6">

    <div class="container" id="newsletter">
      <div class="py-8 px-5 position-relative text-center" style="background-color: rgba(223, 215, 249, 0.199);border-radius: 129px 20px 20px 20px;">
        <div class="position-absolute start-100 top-0 translate-middle ms-md-n3 ms-n4 mt-3"> <img src="../../assets/img/cta/send.png" style="max-width:70px;" alt="send icon" /></div>
        <div class="position-absolute end-0 top-0 z-index--1"> <img src="../../assets/img/cta/shape-bg2.png" width="264" alt="cta shape" /></div>
        <div class="position-absolute start-0 bottom-0 ms-3 z-index--1 d-none d-sm-block"> <img src="../../assets/img/cta/shape-bg1.png" style="max-width: 340px;" alt="cta shape" /></div>
        <div class="row justify-content-center">
          <div class="col-lg-8 col-md-10">
            <h2 class="text-secondary lh-1-7 mb-7">Melden Sie sich an, um Informationen, aktuelle Nachrichten und andere interessante Angebote über Cobham zu erhalten</h2>
            <form class="row g-3 align-items-center w-lg-75 mx-auto">
              <div class="col-sm">
                <div class="input-group-icon">
                  <input class="form-control form-little-squirrel-control" type="email" placeholder="Enter email " aria-label="email" /><img class="input-box-icon" src="../../assets/img/cta/mail.svg" width="17" alt="mail" />
                </div>
              </div>
              <div class="col-sm-auto">
                <button class="btn btn-danger orange-gradient-btn fs--1">Anmelden</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div><!-- end of .container-->

  </section>
