<section class="pt-5 pt-md-9" id="service">

    <div class="container">
      <div class="position-absolute z-index--1 end-0 d-none d-lg-block"><img src="../../assets/img/category/shape.svg" style="max-width: 200px" alt="service" /></div>
      <div class="mb-7 text-center">
        <h5 class="text-secondary">KATEGORIE </h5>
        <h3 class="fs-xl-10 fs-lg-8 fs-7 fw-bold font-cursive text-capitalize">Wir bieten besten Service</h3>
      </div>
      <div class="row">
        <div class="col-lg-3 col-sm-6 mb-6">
          <div class="card service-card shadow-hover rounded-3 text-center align-items-center">
            <div class="card-body p-xxl-5 p-4"> <img src="../../assets/img/category/hotel.png" width="75" alt="Service" />
              <h4 class="mb-3"> Hotelbuchung</h4>
              <p class="mb-0 fw-medium">Wir helfen Ihnen bei der Buchung des gewünschten Hotels.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6 mb-6">
          <div class="card service-card shadow-hover rounded-3 text-center align-items-center">
            <div class="card-body p-xxl-5 p-4"> <img src="../../assets/img/category/welt.png" width="75" alt="Service" />
              <h4 class="mb-3">Flüge</h4>
              <p class="mb-0 fw-medium">Wir bieten Ihnen die günstigsten Flüge.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6 mb-6">
          <div class="card service-card shadow-hover rounded-3 text-center align-items-center">
            <div class="card-body p-xxl-5 p-4"> <img src="../../assets/img/category/planung.png" width="75" alt="Service" />
              <h4 class="mb-3">Reiseplanung</h4>
              <p class="mb-0 fw-medium">Wir bieten Ihnen die besten Tourismusprogramme.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6 mb-6">
          <div class="card service-card shadow-hover rounded-3 text-center align-items-center">
            <div class="card-body p-xxl-5 p-4"> <img src="../../assets/img/category/mietwagen.png" width="75" alt="Service" />
              <h4 class="mb-3">Mietwagen</h4>
              <p class="mb-0 fw-medium">Wir helfen Ihnen bei der Autovermietung in Flüghäfen und Städten. </p>
            </div>
          </div>
        </div>
      </div>
    </div><!-- end of .container-->

  </section>

  <section class="pt-6">

    <div class="container" id="newsletter">
      <div class="py-8 px-5 position-relative text-center" style="background-color: rgba(223, 215, 249, 0.199);border-radius: 129px 20px 20px 20px;">
        <div class="position-absolute start-100 top-0 translate-middle ms-md-n3 ms-n4 mt-3"> <img src="../../assets/img/cta/send.png" style="max-width:70px;" alt="send icon" /></div>
        <div class="position-absolute end-0 top-0 z-index--1"> <img src="../../assets/img/cta/shape-bg2.png" width="264" alt="cta shape" /></div>
        <div class="position-absolute start-0 bottom-0 ms-3 z-index--1 d-none d-sm-block"> <img src="../../assets/img/cta/shape-bg1.png" style="max-width: 340px;" alt="cta shape" /></div>
        <div class="row justify-content-center">
          <div class="col-lg-8 col-md-10">
            <h2 class="text-secondary lh-1-7 mb-7">Melden Sie sich an, um Informationen, aktuelle Nachrichten und andere interessante Angebote über Cobham zu erhalten</h2>
            <form class="row g-3 align-items-center w-lg-75 mx-auto">
              <div class="col-sm">
                <div class="input-group-icon">
                  <input class="form-control form-little-squirrel-control" type="email" placeholder="Enter email " aria-label="email" /><img class="input-box-icon" src="../../assets/img/cta/mail.svg" width="17" alt="mail" />
                </div>
              </div>
              <div class="col-sm-auto">
                <button class="btn btn-danger orange-gradient-btn fs--1">Anmelden</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div><!-- end of .container-->

  </section>
