<section id="booking">

    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <div class="mb-4 text-start">
            <h5 class="text-secondary"> Einfach und schnell </h5>
            <h3 class="fs-xl-10 fs-lg-8 fs-7 fw-bold font-cursive text-capitalize">Buchen Sie Ihre nächste Reise in 3 einfachen Schritten</h3>
          </div>
          <div class="d-flex align-items-start mb-5">
            <div class="bg-primary me-sm-4 me-3 p-3" style="border-radius: 13px"> <img src="../../assets/img/steps/selection.svg" width="22" alt="steps" /></div>
            <div class="flex-1">
              <h5 class="text-secondary fw-bold fs-0">Wählen Sie Ziel</h5>
              <p>Wählen Sie Ihren Lieblingsort. Egal wohin <br class="d-none d-sm-block"> Sie innerhalb der Welt reisen.</p>
            </div>
          </div>
          <div class="d-flex align-items-start mb-5">
            <div class="bg-danger me-sm-4 me-3 p-3" style="border-radius: 13px"> <img src="../../assets/img/steps/water-sport.svg" width="22" alt="steps" /></div>
            <div class="flex-1">
              <h5 class="text-secondary fw-bold fs-0">Zahlung leisten</h5>
              <p>Nachdem Sie Ihren perfekten Platz gefunden haben, leisten Sie Ihre Zahlung  <br class="d-none d-sm-block"> und machen Sie sich bereit für die Reise.</p>
            </div>
          </div>
          <div class="d-flex align-items-start mb-5">
            <div class="bg-info me-sm-4 me-3 p-3" style="border-radius: 13px"> <img src="../../assets/img/steps/taxi.svg" width="22" alt="steps" /></div>
            <div class="flex-1">
              <h5 class="text-secondary fw-bold fs-0">Erreichen Sie den Flughafen am ausgewählten Datum</h5>
              <p>Schließlich, müssen sie pünktlich am Flughafen ankommen <br class="d-none d-sm-block"> und den Urlaub genießen.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-6 d-flex justify-content-center align-items-start">
          <div class="card position-relative shadow" style="max-width: 370px;">
            <div class="position-absolute z-index--1 me-10 me-xxl-0" style="right:-160px;top:-210px;"> <img src="../../assets/img/steps/bg.png" style="max-width:550px;" alt="shape" /></div>
            <div class="card-body p-3"> <img class="mb-4 mt-2 rounded-2 w-100" src="../../assets/img/steps/3.jpg" alt="booking" />
              <div>
                <h5 class="fw-medium">Reise zu den Pyramiden von Gizeh, Ägypten</h5>
                <p class="fs--1 mb-3 fw-medium">10-21 August | von Ahmad Asaad</p>
                <div class="icon-group mb-4"> <span class="btn icon-item"> <img src="../../assets/img/steps/leaf.svg" alt=""/></span><span class="btn icon-item"> <img src="assets/img/steps/map.svg" alt=""/></span><span class="btn icon-item"> <img src="assets/img/steps/send.svg" alt=""/></span>
                </div>
                <div class="d-flex align-items-center justify-content-between">
                  <div class="d-flex align-items-center mt-n1"><img class="me-3" src="../../assets/img/steps/building.svg" width="18" alt="building" /><span class="fs--1 fw-medium">307 Leute gehen</span></div>
                  <div class="show-onhover position-relative">
                    <div class="card hideEl shadow position-absolute end-0 start-xl-50 bottom-100 translate-xl-middle-x ms-3" style="width: 260px;border-radius:18px;">
                      <div class="card-body py-3">
                        <div class="d-flex">
                          <div style="margin-right: 10px"> <img class="rounded-circle" src="../../assets/img/steps/4.jpg" width="50" alt="favorite" /></div>
                          <div>
                            <p class="fs--1 mb-1 fw-medium">Laufend </p>
                            <h5 class="fw-medium mb-3">Reise zu Taj Mahal, Indien </h5>
                            <h6 class="fs--1 fw-medium mb-2"><span>35%</span> abgeschlossen</h6>
                            <div class="progress" style="height: 6px;">
                              <div class="progress-bar" role="progressbar" style="width: 40%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <button class="btn"> <img src="../../assets/img/steps/heart.svg" width="20" alt="step" /></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div><!-- end of .container-->

  </section>
  <section class="pt-6">

    <div class="container" id="newsletter">
      <div class="py-8 px-5 position-relative text-center" style="background-color: rgba(223, 215, 249, 0.199);border-radius: 129px 20px 20px 20px;">
        <div class="position-absolute start-100 top-0 translate-middle ms-md-n3 ms-n4 mt-3"> <img src="../../assets/img/cta/send.png" style="max-width:70px;" alt="send icon" /></div>
        <div class="position-absolute end-0 top-0 z-index--1"> <img src="../../assets/img/cta/shape-bg2.png" width="264" alt="cta shape" /></div>
        <div class="position-absolute start-0 bottom-0 ms-3 z-index--1 d-none d-sm-block"> <img src="../../assets/img/cta/shape-bg1.png" style="max-width: 340px;" alt="cta shape" /></div>
        <div class="row justify-content-center">
          <div class="col-lg-8 col-md-10">
            <h2 class="text-secondary lh-1-7 mb-7">Melden Sie sich an, um Informationen, aktuelle Nachrichten und andere interessante Angebote über Cobham zu erhalten</h2>
            <form class="row g-3 align-items-center w-lg-75 mx-auto">
              <div class="col-sm">
                <div class="input-group-icon">
                  <input class="form-control form-little-squirrel-control" type="email" placeholder="Enter email " aria-label="email" /><img class="input-box-icon" src="../../assets/img/cta/mail.svg" width="17" alt="mail" />
                </div>
              </div>
              <div class="col-sm-auto">
                <button class="btn btn-danger orange-gradient-btn fs--1">Anmelden</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div><!-- end of .container-->

  </section>

