<section class="vh-100" style="background-color: #508bfc;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

            <h3 class="mb-5">Sign in</h3>
            <button (click)="signIn()" class="btn btn-primary text-dark py-2 px-4 ms-3">G-mail</button>
              
            

            
           
            <div class="g-signin2" data-onsuccess="onSignIn"></div>

            <hr class="my-4">

            
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- <div class="g-signin2" data-onsuccess="onSignIn"></div>
<a href="#" onclick="signOut();">Sign out</a>
<script>
function signOut() {
  var auth2 = gapi.auth2.getAuthInstance();
  auth2.signOut().then(function () {
    console.log('User signed out.');
  });
}
</script> -->