<section class="pt-5" id="destination">

    <div class="container">
      <div class="position-absolute start-100 bottom-0 translate-middle-x d-none d-xl-block ms-xl-n4"><img src="../../assets/img/dest/shape.svg" alt="destination" /></div>
      <div class="mb-7 text-center">
        <h5 class="text-secondary">Top Orte </h5>
        <h3 class="fs-xl-10 fs-lg-8 fs-7 fw-bold font-cursive text-capitalize">Besten Reiseziele</h3>
      </div>
      <div class="row">
        <div class="col-md-4 mb-4">
          <div class="card overflow-hidden shadow"> <img class="card-img-top" src="../../assets/img/dest/DUBEI.jpeg" alt="Rome, Italty" />
            <div class="card-body py-4 px-3">
              <div class="d-flex flex-column flex-lg-row justify-content-between mb-3">
                <h4 class="text-secondary fw-medium"><a class="link-900 text-decoration-none stretched-link" href="#!">Dubai</a></h4><span class="fs-1 fw-medium">1500€</span>
              </div>
              <div class="d-flex align-items-center"> <img src="../../assets/img/dest/navigation.svg" style="margin-right: 14px" width="20" alt="navigation" /><span class="fs-0 fw-medium">5 Tage Reise</span></div>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-4">
          <div class="card overflow-hidden shadow"> <img class="card-img-top" src="../../assets/img/dest/1.jpeg" alt="London, UK" />
            <div class="card-body py-4 px-3">
              <div class="d-flex flex-column flex-lg-row justify-content-between mb-3">
                <h4 class="text-secondary fw-medium"><a class="link-900 text-decoration-none stretched-link" href="#!">Malediven</a></h4><span class="fs-1 fw-medium">3000€</span>
              </div>
              <div class="d-flex align-items-center"> <img src="../../assets/img/dest/navigation.svg" style="margin-right: 14px" width="20" alt="navigation" /><span class="fs-0 fw-medium">10 Tage Reise</span></div>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-4">
          <div class="card overflow-hidden shadow"> <img class="card-img-top" src="../../assets/img/dest/2.jpeg" alt="Full Europe" />
            <div class="card-body py-4 px-3">
              <div class="d-flex flex-column flex-lg-row justify-content-between mb-3">
                <h4 class="text-secondary fw-medium"><a class="link-900 text-decoration-none stretched-link" href="#!">Türkei</a></h4><span class="fs-1 fw-medium">500€</span>
              </div>
              <div class="d-flex align-items-center"> <img src="../../assets/img/dest/navigation.svg" style="margin-right: 14px" width="20" alt="navigation" /><span class="fs-0 fw-medium">14 Tage Reise</span></div>
            </div>
          </div>
        </div>
      </div>
    </div><!-- end of .container--><section class="pt-6">

      <div class="container" id="newsletter">
        <div class="py-8 px-5 position-relative text-center" style="background-color: rgba(223, 215, 249, 0.199);border-radius: 129px 20px 20px 20px;">
          <div class="position-absolute start-100 top-0 translate-middle ms-md-n3 ms-n4 mt-3"> <img src="../../assets/img/cta/send.png" style="max-width:70px;" alt="send icon" /></div>
          <div class="position-absolute end-0 top-0 z-index--1"> <img src="../../assets/img/cta/shape-bg2.png" width="264" alt="cta shape" /></div>
          <div class="position-absolute start-0 bottom-0 ms-3 z-index--1 d-none d-sm-block"> <img src="../../assets/img/cta/shape-bg1.png" style="max-width: 340px;" alt="cta shape" /></div>
          <div class="row justify-content-center">
            <div class="col-lg-8 col-md-10">
              <h2 class="text-secondary lh-1-7 mb-7">Melden Sie sich an, um Informationen, aktuelle Nachrichten und andere interessante Angebote über Cobham zu erhalten</h2>
              <form class="row g-3 align-items-center w-lg-75 mx-auto">
                <div class="col-sm">
                  <div class="input-group-icon">
                    <input class="form-control form-little-squirrel-control" type="email" placeholder="Enter email " aria-label="email" /><img class="input-box-icon" src="../../assets/img/cta/mail.svg" width="17" alt="mail" />
                  </div>
                </div>
                <div class="col-sm-auto">
                  <button class="btn btn-danger orange-gradient-btn fs--1">Anmelden</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div><!-- end of .container-->
  
    </section>
  

  </section>
