<section style="padding-top: 7rem;">
    <div class="bg-holder" style="background-image:url(assets/img/hero/hero-bg.svg);">
    </div>
    <!--/.bg-holder-->

    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-5 col-lg-6 order-0 order-md-1 text-end"><img class="pt-7 pt-md-0 hero-img" src="../../assets/img/hero/h.png" alt="hero-header" /></div>
        <div class="col-md-7 col-lg-6 text-md-start text-center py-6">
          <h4 class="fw-bold text-danger mb-3">Die schönsten Reiseziele der Welt</h4>
          <h3 class="hero-title">Genießen Sie Ihre Reisen und machen Sie neue Erinnerungen!</h3>
          <p class="mb-4 fw-medium">Gute Reise <br class="d-none d-xl-block" /> und einen schönen Urlaub<br class="d-none d-xl-block" />✈️🌎</p>
          <div class="text-center text-md-start"> <a class="btn btn-primary btn-lg me-md-4 mb-3 mb-md-0 border-0 primary-btn-shadow" href="#!" role="button">Finde mehr heraus</a>
           <!-- <div class="w-100 d-block d-md-none"></div><a href="#!" role="button" data-bs-toggle="modal" data-bs-target="#popupVideo"><span class="btn btn-danger round-btn-lg rounded-circle me-3 danger-btn-shadow"> <img src="assets/img/hero/play.svg" width="15" alt="paly"/></span></a><span class="fw-medium">Demo spielen</span>
            <div class="modal fade" id="popupVideo" tabindex="-1" aria-labelledby="popupVideo" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content">
                  <iframe class="rounded" style="width:100%;max-height:500px;" height="500px" src="https://www.youtube.com/watch?v=LdPo64NdnV0&t=18s" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen"></iframe>
                </div>
              </div>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  
    <section class="pt-6">

      <div class="container" id="newsletter">
        <div class="py-8 px-5 position-relative text-center" style="background-color: rgba(223, 215, 249, 0.199);border-radius: 129px 20px 20px 20px;">
          <div class="position-absolute start-100 top-0 translate-middle ms-md-n3 ms-n4 mt-3"> <img src="../../assets/img/cta/send.png" style="max-width:70px;" alt="send icon" /></div>
          <div class="position-absolute end-0 top-0 z-index--1"> <img src="../../assets/img/cta/shape-bg2.png" width="264" alt="cta shape" /></div>
          <div class="position-absolute start-0 bottom-0 ms-3 z-index--1 d-none d-sm-block"> <img src="../../assets/img/cta/shape-bg1.png" style="max-width: 340px;" alt="cta shape" /></div>
          <div class="row justify-content-center">
            <div class="col-lg-8 col-md-10">
              <h2 class="text-secondary lh-1-7 mb-7">Melden Sie sich an, um Informationen, aktuelle Nachrichten und andere interessante Angebote über Cobham zu erhalten</h2>
              <form class="row g-3 align-items-center w-lg-75 mx-auto">
                <div class="col-sm">
                  <div class="input-group-icon">
                    <input class="form-control form-little-squirrel-control" type="email" placeholder="Enter email " aria-label="email" /><img class="input-box-icon" src="../../assets/img/cta/mail.svg" width="17" alt="mail" />
                  </div>
                </div>
                <div class="col-sm-auto">
                  <button class="btn btn-danger orange-gradient-btn fs--1">Anmelden</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div><!-- end of .container-->
  
    </section>
  

