
<section class="pt-5" id="destination">

  <div class="container">
    <div class="position-absolute start-100 bottom-0 translate-middle-x d-none d-xl-block ms-xl-n4"><img src="../../assets/img/dest/shape.svg" alt="destination" /></div>
    <!--<div class="mb-7 text-center">-->
     <!---<h5 class="text-secondary">Top Orte </h5>-->
     <!-- <h3 class="fs-xl-10 fs-lg-8 fs-7 fw-bold font-cursive text-capitalize">Besten Reiseziele</h3> -->
    <!--</div>-->
    <div class="row">
      <div class="col-md-4 mb-4">
        <div class="card overflow-hidden shadow"> <img class="card-img-top" src="../../assets/img/dest/park.jpeg" alt="Rome, Italty" />
          <div class="card-body py-4 px-3">
            <div class="d-flex flex-column flex-lg-row justify-content-between mb-3">
              <h4 class="text-secondary fw-medium"><a class="link-900 text-decoration-none stretched-link" href="#!">Central Park, New York City</a></h4><span class="fs-1 fw-medium"></span>
            </div>
            <div class="d-flex align-items-center"> <img src="../../assets/img/dest/navigation.svg" style="margin-right: 14px" width="20" alt="navigation" /><span class="fs-0 fw-medium"></span></div>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="card overflow-hidden shadow"> <img class="card-img-top" src="../../assets/img/dest/takio.jpeg" alt="London, UK" />
          <div class="card-body py-4 px-3">
            <div class="d-flex flex-column flex-lg-row justify-content-between mb-3">
              <h4 class="text-secondary fw-medium"><a class="link-900 text-decoration-none stretched-link" href="#!">Meiji Jingu Schrein, Tokio</a></h4><span class="fs-1 fw-medium"></span>
            </div>
            <div class="d-flex align-items-center"> <img src="../../assets/img/dest/navigation.svg" style="margin-right: 14px" width="20" alt="navigation" /><span class="fs-0 fw-medium"></span></div>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="card overflow-hidden shadow"> <img class="card-img-top" src="../../assets/img/dest/mauer.jpeg" alt="Full Europe" />
          <div class="card-body py-4 px-3">
            <div class="d-flex flex-column flex-lg-row justify-content-between mb-3">
              <h4 class="text-secondary fw-medium"><a class="link-900 text-decoration-none stretched-link" href="#!">Chinesische Mauer, China</a></h4><span class="fs-1 fw-medium"></span>
            </div>
            <div class="d-flex align-items-center"> <img src="../../assets/img/dest/navigation.svg" style="margin-right: 14px" width="20" alt="navigation" /><span class="fs-0 fw-medium"></span></div>
          </div>
        </div>
      </div>
    </div>
  </div><!-- end of .container-->

</section>
<section class="pt-5" id="destination">

  <div class="container">
    <div class="position-absolute start-100 bottom-0 translate-middle-x d-none d-xl-block ms-xl-n4"><img src="../../assets/img/dest/shape.svg" alt="destination" /></div>
    <div class="mb-7 text-center">
      <!--<h5 class="text-secondary">Top Orte </h5>-->
      <!--<h3 class="fs-xl-10 fs-lg-8 fs-7 fw-bold font-cursive text-capitalize">Besten Reiseziele</h3>-->
    </div>
    <div class="row">
      <div class="col-md-4 mb-4">
        <div class="card overflow-hidden shadow"> <img class="card-img-top" src="../../assets/img/dest/land.jpeg" alt="Rome, Italty" />
          <div class="card-body py-4 px-3">
            <div class="d-flex flex-column flex-lg-row justify-content-between mb-3">
              <h4 class="text-secondary fw-medium"><a class="link-900 text-decoration-none stretched-link" href="#!">Disneyland, Tokio</a></h4><span class="fs-1 fw-medium"></span>
            </div>
            <div class="d-flex align-items-center"> <img src="../../assets/img/dest/navigation.svg" style="margin-right: 14px" width="20" alt="navigation" /><span class="fs-0 fw-medium"></span></div>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="card overflow-hidden shadow"> <img class="card-img-top" src="../../assets/img/dest/notra.jpeg" alt="London, UK" />
          <div class="card-body py-4 px-3">
            <div class="d-flex flex-column flex-lg-row justify-content-between mb-3">
              <h4 class="text-secondary fw-medium"><a class="link-900 text-decoration-none stretched-link" href="#!">Notre Dame Kathedrale, Paris</a></h4><span class="fs-1 fw-medium"></span>
            </div>
            <div class="d-flex align-items-center"> <img src="../../assets/img/dest/navigation.svg" style="margin-right: 14px" width="20" alt="navigation" /><span class="fs-0 fw-medium"></span></div>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="card overflow-hidden shadow"> <img class="card-img-top" src="../../assets/img/dest/opra.jpeg" alt="Full Europe" />
          <div class="card-body py-4 px-3">
            <div class="d-flex flex-column flex-lg-row justify-content-between mb-3">
              <h4 class="text-secondary fw-medium"><a class="link-900 text-decoration-none stretched-link" href="#!">Sydney Opera House, Australien
              </a></h4><span class="fs-1 fw-medium"></span>
            </div>
            <div class="d-flex align-items-center"> <img src="../../assets/img/dest/navigation.svg" style="margin-right: 14px" width="20" alt="navigation" /><span class="fs-0 fw-medium"></span></div>
          </div>
        </div>
      </div>
    </div>
  </div><!-- end of .container-->

</section>
<section class="pt-5" id="destination">

  <div class="container">
    <div class="position-absolute start-100 bottom-0 translate-middle-x d-none d-xl-block ms-xl-n4"><img src="../../assets/img/dest/shape.svg" alt="destination" /></div>
    <div class="mb-7 text-center">
     <!-- <h5 class="text-secondary">Top Orte </h5>-->
    <!---  <h3 class="fs-xl-10 fs-lg-8 fs-7 fw-bold font-cursive text-capitalize">Besten Reiseziele</h3>-->
    </div>
    <div class="row">
      <div class="col-md-4 mb-4">
        <div class="card overflow-hidden shadow"> <img class="card-img-top" src="../../assets/img/dest/efil.jpeg" alt="Rome, Italty" />
          <div class="card-body py-4 px-3">
            <div class="d-flex flex-column flex-lg-row justify-content-between mb-3">
              <h4 class="text-secondary fw-medium"><a class="link-900 text-decoration-none stretched-link" href="#!">Eiffelturm, Paris</a></h4><span class="fs-1 fw-medium"></span>
            </div>
            <div class="d-flex align-items-center"> <img src="../../assets/img/dest/navigation.svg" style="margin-right: 14px" width="20" alt="navigation" /><span class="fs-0 fw-medium"></span></div>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="card overflow-hidden shadow"> <img class="card-img-top" src="../../assets/img/dest/rom.jpeg" alt="London, UK" />
          <div class="card-body py-4 px-3">
            <div class="d-flex flex-column flex-lg-row justify-content-between mb-3">
              <h4 class="text-secondary fw-medium"><a class="link-900 text-decoration-none stretched-link" href="#!">Kolosseum, Rom 
              </a></h4><span class="fs-1 fw-medium"></span>
            </div>
            <div class="d-flex align-items-center"> <img src="../../assets/img/dest/navigation.svg" style="margin-right: 14px" width="20" alt="navigation" /><span class="fs-0 fw-medium"></span></div>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="card overflow-hidden shadow"> <img class="card-img-top" src="../../assets/img/dest/fam.jpeg" alt="Full Europe" />
          <div class="card-body py-4 px-3">
            <div class="d-flex flex-column flex-lg-row justify-content-between mb-3">
              <h4 class="text-secondary fw-medium"><a class="link-900 text-decoration-none stretched-link" href="#!">Sagrada Familia, Barcelona 
</a></h4><span class="fs-1 fw-medium"></span>
            </div>
            <div class="d-flex align-items-center"> <img src="../../assets/img/dest/navigation.svg" style="margin-right: 14px" width="20" alt="navigation" /><span class="fs-0 fw-medium"></span></div>
          </div>
        </div>
      </div>
    </div>
  </div><!-- end of .container-->

</section>
<!-- <section> close ============================-->
<!-- ============================================-->

<section class="pb-0 pb-lg-4">

  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-7 col-12 mb-4 mb-md-6 mb-lg-0 order-0"> <img class="mb-4" src="../../assets/img/Heba Logo.png" width="150" alt="jadoo" />
        <p class="fs--1 text-secondary mb-0 fw-medium">Buchen Sie Ihre Fahrt in wenigen Minuten und behalten Sie länger die volle Kontrolle.</p>
      </div>
      <div class="col-lg-2 col-md-4 mb-4 mb-lg-0 order-lg-1 order-md-2">
        <h4 class="footer-heading-color fw-bold font-sans-serif mb-3 mb-lg-4">Home</h4>
        <ul class="list-unstyled mb-0">
          <li class="mb-2"><a class="link-900 fs-1 fw-medium text-decoration-none" href="#service">Service</a></li>
          <li class="mb-2"><a class="link-900 fs-1 fw-medium text-decoration-none" href="#destination">Reiseziel</a></li>
          <li class="mb-2"><a class="link-900 fs-1 fw-medium text-decoration-none" href="#booking">Buchung</a></li>
          <li class="mb-2"><a class="link-900 fs-1 fw-medium text-decoration-none" href="#testimonial">Kundenmeinung</a></li>
          <li class="mb-2"><a class="link-900 fs-1 fw-medium text-decoration-none" href="#!">Abmeldung</a></li>
          <li class="mb-2"><a class="link-900 fs-1 fw-medium text-decoration-none" href="#newsletter">Anmeldung</a></li>
        </ul>
      </div>
     <!---<div class="col-lg-2 col-md-4 mb-4 mb-lg-0 order-lg-2 order-md-3">
        <h4 class="footer-heading-color fw-bold font-sans-serif mb-3 mb-lg-4"></h4>
        <ul class="list-unstyled mb-0">
          
        </ul>
      </div> -->
      <div class="col-lg-2 col-md-4 mb-4 mb-lg-0 order-lg-3 order-md-4">
        <h4 class="footer-heading-color fw-bold font-sans-serif mb-3 mb-lg-4">Mehr</h4>
        <ul class="list-unstyled mb-0">
          <li class="mb-2"><a class="link-900 fs-1 fw-medium text-decoration-none" href="flug.html">Top Sehenswürdigkeiten</a></li>
          
        </ul>
      </div>
      <div class="col-lg-3 col-md-5 col-12 mb-4 mb-md-6 mb-lg-0 order-lg-4 order-md-1">
        <div class="icon-group mb-4"> <a class="text-decoration-none icon-item shadow-social" id="facebook" href="#!"><i class="fab fa-facebook-f"> </i></a><a class="text-decoration-none icon-item shadow-social" id="instagram" href="#!"><i class="fab fa-instagram"> </i></a><a class="text-decoration-none icon-item shadow-social" id="twitter" href="#!"><i class="fab fa-twitter"> </i></a></div>
        <h4 class="fw-medium font-sans-serif text-secondary mb-3">Entdecken Sie unsere App</h4>
        <div class="d-flex align-items-center"> <a href="#!"> <img class="me-2" src="../../assets/img/play-store.png" alt="play store" /></a><a href="#!"> <img src="../../assets/img/apple-store.png" alt="apple store" /></a></div>
      </div>
    </div>
  </div><!-- end of .container-->

</section>
<section class="pt-6">

  <div class="container" id="newsletter">
    <div class="py-8 px-5 position-relative text-center" style="background-color: rgba(223, 215, 249, 0.199);border-radius: 129px 20px 20px 20px;">
      <div class="position-absolute start-100 top-0 translate-middle ms-md-n3 ms-n4 mt-3"> <img src="../../assets/img/cta/send.png" style="max-width:70px;" alt="send icon" /></div>
      <div class="position-absolute end-0 top-0 z-index--1"> <img src="../../assets/img/cta/shape-bg2.png" width="264" alt="cta shape" /></div>
      <div class="position-absolute start-0 bottom-0 ms-3 z-index--1 d-none d-sm-block"> <img src="../../assets/img/cta/shape-bg1.png" style="max-width: 340px;" alt="cta shape" /></div>
      <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10">
          <h2 class="text-secondary lh-1-7 mb-7">Melden Sie sich an, um Informationen, aktuelle Nachrichten und andere interessante Angebote über Cobham zu erhalten</h2>
          <form class="row g-3 align-items-center w-lg-75 mx-auto">
            <div class="col-sm">
              <div class="input-group-icon">
                <input class="form-control form-little-squirrel-control" type="email" placeholder="Enter email " aria-label="email" /><img class="input-box-icon" src="../../assets/img/cta/mail.svg" width="17" alt="mail" />
              </div>
            </div>
            <div class="col-sm-auto">
              <button class="btn btn-danger orange-gradient-btn fs--1">Anmelden</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div><!-- end of .container-->

</section>
